{
    "destination_path": "../ModelStage",
    "author_name": "Matt Schmulen",
    "construct_type": "struct",
    "model_mapping_library": "SwiftyJSON",
    "support_nscoding": false,
    "is_final_required": false,
    "is_header_included": false
 }